<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <script defer src="../static/GeoLocation.js"></script>
    <title>ParkMeTLV</title>
</head>
<body>
    <div class="main-container">
        <header class="header">
            <h1>ParkMeTLV</h1>
            <div class="hamburger" id= "hamburger">
                <button id="burger__label"></button>
            </div>
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="./HomePage.html" class="navbar__link">Home Page</a>
                    </li>
                    <li class="navbar__item">
                        <a href="./ContactUs.html" class="navbar__link">Contact Us</a>
                    </li>
                </ul>
            </nav> 
            <img src="../static/TLV.jpg" alt="Logo" class="logo">
        </header>
        <div class="container">
            <h1 class="mobile__headline">ParkMeTLV</h1>
            <form id="form" class="form-contact-us" method="POST">
                <h2 class="contact">Contact Us</h2><br>
                <p class="contact">We Are Here For You! How Can We Help You?</p>
                <lable for="email"></lable>
                <input required type="email" id="email" name="email" placeholder="Email" >   
                <lable for="message"></lable>
                <textarea required type="message" id="message" name="message" placeholder="Message" ></textarea>  
                <button class="button2" onclick="ValidateEmail()">Send</button>
            </form>
        </div>
        <footer>
            Made By Adi Zadicareo
        </footer>
    </div>
</body>
</html>