<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <script defer src="../static/map.js"></script>
    <script type="text/javascript" 
           src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <title>ParkMeTLV</title>
</head>
<body>
    <div class="main-container">
        <header class="header">
            <h1>ParkMeTLV</h1>
            <div class="hamburger" id= "hamburger">
                <button id="burger__label"></button>
            </div>
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="./HomePage.html" class="navbar__link">Home Page</a>
                    </li>
                    <li class="navbar__item">
                        <a href="./ContactUs.html" class="navbar__link">Contact Us</a>
                    </li>
                </ul>
            </nav> 
            <img src="../static/TLV.jpg" alt="Logo" class="logo">
        </header>
        <div class="container container__map">
            <p>Choose Your Parking Lot</p>
            <div id="map" style="width: 800px; height: 600px"></div> 
        </div>
        <footer>
            Made By Adi Zadicareo
        </footer>
    </div>
</body>

</html>
