:root{
    --BlueTitels:rgb(36, 36, 139);
    --Blue:rgb(91, 128, 251);
    --BackGround: rgb(244, 243, 225);
    --SmallBackGround:rgb(217, 228, 243);
    --GoClick: rgb(162, 175, 250);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size:10%;
    background-size: cover;
}

body{
    font-size: 30px;
    background-image: url(../static/ParkingLotBack1Opa.jpg);
    background-color:var(--BackGround);
    color:var(--Blue);
    font-family: MyFont;
}

h1{
    font-size: 60px;
    color:Var(--BlueTitels);
    font-family: MyFontBold;
}

a{
    color:black;
}

p{
    padding: 5px;
    font-size: 25px;
    color: black;    
}

.hamburger {
    display: none;
}

.main-container {
    display: grid;
    grid-template-rows: 140px calc(100vh - 220px) 80px;
}

.main-container.contact {
    grid-template-rows: 140px max-content 80px;
}

.header {
    display: flex;
    padding: 5px 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}

.navbar {
    display: flex;
    flex-grow: 1;
    padding-left: 100px;
}

.navbar__list {
    list-style-type: none;
    display: flex;
}

.navbar__item {
    padding-right: 40px;
}

.navbar__link {
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out;
}

.navbar__link:hover {
    text-decoration: underline;
}

.logo {
    width: 170px;
    height: auto;
    flex-flow: 1;
}

.container {
    max-width: fit-content;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parkingLot{
    grid-column: 1 / -1;
    display:inline;
    align-items: center;
    justify-content: center;
    margin: 20px auto 30px;
}

.leave{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
    background: rgba(255, 255, 255, 0.26);
    padding: 15px;
    border-radius: 15px;
}

.contact {
    text-align: center;
    grid-column: 1 / -1;
}

lable {
    grid-column: 1 / 3;
}

input, select {
    grid-column: 3 / 4;
    outline: none;
    font-family: MyFont;
    padding: 2px;
    font-size: 20px;
}

.form-contact-us input,
.form-contact-us textarea {
    grid-column: 1 / -1;
}

#allowGeo {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-decoration: underline;
    cursor: pointer;
    color: black;
    text-align: left;
    font-size: 20px;
    max-width: fit-content;
    font-family: MyFont;
    font-weight: 700;
    grid-column: 1 / 3;
}

#checkbox{
    margin-left: 10px;
    width: 3vh;
    height: 3vh;
    background-color: black;
}

#message{
    font-size: 20px;
    font-family: MyFont;
}

.button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 40px;
    background-color: rgb(199, 238, 251);
    border: 5px solid rgb(249, 185, 65);
    margin: 30px auto 0;
    font-family:MyFontBold;
    animation: moveButton 2s  0s infinite  ease-in-out;
    grid-column: 1 / -1;
    cursor: pointer;
}

.button:hover {
    background-color:var(--GoClick);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2{
    margin: 30px auto 0;
    grid-column: 3/2;
    font-family: MyFont;
}
.button2:hover {
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container__map {
    flex-direction: column;
}

h2{
    font-family: MyFontBold;
    color: black;
}

footer{
    font-size: 20px;
    font-family: MyFont;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family:MyFontBold;
    src: url(../static/Assistant-Bold.ttf);
}

@font-face {
    font-family:MyFont;
    src: url(../static/Assistant-Regular.ttf);
}

@keyframes moveButton{
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

.mobile__headline{
    display: none;
}

@media screen and (max-width:600px) {
    .header h1 {
        display: none;
    }
    h1{
        font-size: 45px;
    }
    .mobile__headline{
        display: block;
    }
    .container{
        flex-direction: column;
        max-width: 80%;
        width: 80%;
    }
    
    #map {
        width: 100% !important;
    }

    p{
        font-size: 20px;
    }
    .hamburger {
        display: block;
        flex-grow: 1;
    }
    #burger__label {
        position: relative;
        background: #000;
        display: block;
        width: 20px;
        height: 2px;
        outline: none;
        border: none;
    }
    #burger__label::before,
    #burger__label::after {
        content: "";
        position: absolute;
        background: #000;
        display: block;
        width: 20px;
        height: 2px;
    }

    #burger__label::before {
        top: -5px;
    }

    #burger:checked #burger__label::before {
        transform: rotate(45deg);
    }

    #burger__label::after {
        bottom: -5px;
    }

    #burger {
       visibility: hidden;
    }
    
    
    .show + .navbar {
        display: flex;
    }
    .show #burger__label {
        background: #fff;
    }

    .show #burger__label::before {
        transform: rotate(43deg);
    }

    .show #burger__label::after {
        transform: rotate(-45deg);
        top: -5px;
    }
    .navbar {
        padding-left: 20px;
        padding-bottom: 10px;
        display: none;
        position: absolute;
        top: 100px;
        background-color: #fff;
        left: 0;
        z-index: 10;
    }

    .navbar__list {
        flex-direction: column;
    }

    .navbar__link {
        font-size: 22px;
        white-space: nowrap;
    }

    .button {
        font-size: 30px;
        animation: moveButtonMobile 2s  0s infinite  ease-in-out;
    }

    .logo {
        width: 150px;
    }
    .form-input {
        color: black;
    }

    @keyframes moveButtonMobile{
        0% {transform: scale(1);}
        50% {transform: scale(1.05);}
        100% {transform: scale(1);}
    }
}